.gallery *,
.gallery *::before,
.gallery *::after {
  padding: 0;
  margin: 0;

  color: white;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 33%);

  list-style: none;
  overflow: hidden;

  &__item-thing {
    color: blue;
  }
}

.gallery__item-box {
  height: 350px;
  transition: transform 0.2s;
}

.gallery__item-box:hover {
  transform: translateY(-100%);
}

.gallery__item--top {
  width: 100%;
  height: 100%;
  position: relative;
  transition: all 0.2s;
}

.gallery__item-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.gallery__title-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.gallery__item--bottom {
  width: 100%;
  height: 100%;
  background: grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: -4;
}
