<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    each style in assets.css
      link(rel="stylesheet", href=style)
    title= options.title
  <body>
    include includes/top-nav
    <p>Next step is to make the hamburger component and to make it function when it moved outside of the header.</p>
    script(src=assets.js[0])
  </body>