<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css")
    each style in assets.css
      link(rel="stylesheet", href=style)
    title= options.title
  body
    .gallery__title-box
      i.gallery__item-icon-span--top.fas.fa-satellite
      h3.gallery__item-title--top Caption Gallery Item 1
  .gallery__item--bottom
    i.gallery__item-icon-span--bottom.fas.fa-satellite
    h4.gallery__item-title--bottom Caption Gallery Item 1
    p.gallery__item-text I am some text to go at the bottom of the gallery item thing.
li.gallery__item-box
  figure.gallery__item--top
    img.gallery__item-image(src="BL.jpg")
    .gallery__title-box
      i.gallery__item-icon-span--top.fas.fa-meteor
      h3.gallery__item-title--top Caption Gallery Item 2
  .gallery__item--bottom
    i.gallery__item-icon-span--bottom.fas.fa-meteor
    h4.gallery__item-title--bottom Caption Gallery Item 2
    p.gallery__item-text I am some text to go at the bottom of the gallery item thing.
li.gallery__item-box
  figure.gallery__item--top
    img.gallery__item-image(src="BL11.jpg")
    .gallery__title-box
      i.gallery__item-icon-span--top.fas.fa-rocket
      h3.gallery__item-title--top Caption Gallery Item 2
  .gallery__item--bottom
    i.gallery__item-icon-span--bottom.fas.fa-rocket
    h4.gallery__item-title--bottom Caption Gallery Item 2
    p.gallery__item-text I am some text to go at the bottom of the gallery item thing.
