- const isDev = config.mode === "development"

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    each style in assets.css
      link(rel="stylesheet", href=style)
    title= options.title
  body
    block main
    if isDev
      script(src=assets.js[0])