<footer class="footer">
  <div class="footer__main-row">
    <div class="footer__info">
      <a class="footer__logo-link" href="#">
        <img src="/logo-rounded-1536x361.png" />
      </a>
      <div class="footer__details">
        <p class="footer__details-address--line1">440 Cobia Dr., Suite 1701</p>
        <p class="footer__details-address--line2">Katy, Texas 77494</p>
        <p class="footer__details-hours">Mon - Fri, 9 a.m. - 6 p.m.</p>
        <p class="footer__details-phone">(+1) 281-503-7002</p>
      </div>
      <div class="footer__social-links">
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
    <div class="footer__menu">
      <div class="footer__submenu services">
        <h4>Services</h4>
        <ul>
          <li><a href="#">AI &amp; Analytics</a></li>
          <li><a href="#">Cloud Services</a></li>
          <li><a href="#">IT Consulting</a></li>
          <li><a href="#">RPA</a></li>
          <li><a href="#">Virtual Assistants</a></li>
        </ul>
      </div>
      <div class="footer__submenu industries">
        <h4>Industries</h4>
        <ul>
          <li><a href="#">Oil &amp; Gas</a></li>
          <li><a href="#">Manufacturing</a></li>
          <li><a href="#">Food &amp; Beverage</a></li>
          <li><a href="#">Retail</a></li>
          <li><a href="#">Financial Services</a></li>
          <li><a href="#">Logistics</a></li>
          <li><a href="#">Public Sector</a></li>
        </ul>
      </div>
      <div class="footer__submenu insights">
        <h4>Insights</h4>
        <ul>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Case Studies</a></li>
          <li><a href="#">White Papers</a></li>
        </ul>
      </div>
      <div class="footer__submenu about">
        <h4>About</h4>
        <ul>
          <li><a href="#">Our Company</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Our Team</a></li>
          <li><a href="#">Media</a></li>
        </ul>
      </div>
    </div>
  </div>
  <p class="footer__copyright-statement">&copy;2020, <a class="footer__link" href="#">Nitco, Inc.</a> All Rights Reserved.</p>
</footer>