<nav class="top-nav">
  <div class="top-nav__content-box">
    <a class="top-nav__logo-link" href="#">
      <img class="top-nav__logo" src="/logo-rounded-1536x361.png" />
    </a>
    <ul class="top-nav__menu">
      <li class="top-nav__menu-item active">
        <span class="top-nav__menu-item-label">Services</span>
        <ul class="top-nav__submenu">
          <li class="top-nav__submenu-item">
            <a class="top-nav__submenu-link">Cloud Services</a>
          </li>
          <li class="top-nav__submenu-item">
            <a class="top-nav__submenu-link">IT Consulting</a>
          </li>
          <li class="top-nav__submenu-item">
            <a class="top-nav__submenu-link">RPA</a>
          </li>
          <li class="top-nav__submenu-item">
            <a class="top-nav__submenu-link">Virtual Assistants</a>
          </li>
        </ul>
      </li>
      <li class="top-nav__menu-item">
        <span class="top-nav__menu-item-label">Industries</span>
        <ul class="top-nav__submenu">
          <li class="top-nav__submenu-item">
            <a class="top-nav__submenu-link">Oil &amp; Gas</a>
          </li>
          <li class="top-nav__submenu-item">
            <a class="top-nav__submenu-link">Manufacturing</a>
          </li>
          <li class="top-nav__submenu-item">
            <a class="top-nav__submenu-link">Food &amp; Beverage</a>
          </li>
          <li class="top-nav__submenu-item">
            <a class="top-nav__submenu-link">Retail</a>
          </li>
          <li class="top-nav__submenu-item">
            <a class="top-nav__submenu-link">Financial Services</a>
          </li>
          <li class="top-nav__submenu-item">
            <a class="top-nav__submenu-link">Logistics</a>
          </li>
          <li class="top-nav__submenu-item">
            <a class="top-nav__submenu-link">Public Sector</a>
          </li>
        </ul>
      </li>
      <li class="top-nav__menu-item">
        <span class="top-nav__menu-item-label">Insights</span>
        <ul class="top-nav__submenu">
          <li class="top-nav__submenu-item">
            <a class="top-nav__submenu-link">Blog</a>
          </li>
          <li class="top-nav__submenu-item">
            <a class="top-nav__submenu-link">Case Studies</a>
          </li>
          <li class="top-nav__submenu-item">
            <a class="top-nav__submenu-link">White Papers</a>
          </li>
        </ul>
      </li>
      <li class="top-nav__menu-item">
        <span class="top-nav__menu-item-label">About</span>
        <ul class="top-nav__submenu">
          <li class="top-nav__submenu-item">
            <a class="top-nav__submenu-link">Our Company</a>
          </li>
          <li class="top-nav__submenu-item">
            <a class="top-nav__submenu-link">Careers</a>
          </li>
          <li class="top-nav__submenu-item">
            <a class="top-nav__submenu-link">Our Team</a>
          </li>
          <li class="top-nav__submenu-item">
            <a class="top-nav__submenu-link">Media</a>
          </li>
        </ul>
      </li>
      <li class="top-nav__menu-item">
        <a class="top-nav__menu-item-link">Contact</a>
      </li>
    </ul>
    <ul class="top-nav__social-icons">
      <li class="top-nav__social-icon">
        <i class="fab fa-twitter"></i>
      </li>
      <li class="top-nav__social-icon">
        <i class="fab fa-facebook"></i>
      </li>
      <li class="top-nav__social-icon">
        <i class="fab fa-linkedin"></i>
      </li>
    </ul>
  </div>
  <div class="hamburger-menu"></div>
</nav>